# Visualization of the AirBNB Dataset and Early Impressions

## Let's take care of some bookkeepping first.

Do our imports and read in the training sets with pandas.

In [23]:
# Imports 
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame
import csv
import numpy as np
import seaborn as sns

# Machine Learning Packages
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score

# Enable in-line plots and set the style for the plots
%matplotlib inline
sns.set_style("whitegrid")

In [24]:
# Read some of the data

train_df_sessions = pd.read_csv("data/sessions.csv")
train_df_train_users = pd.read_csv("data/train_users_2.csv")

### Merging the two files. 

Note that train_df_train_users uses *id* as the user id, while the train_df_sessions uses user_id.  We're going to tackle this by renaming the id to user_id

In [25]:
cols = []
for col in train_df_train_users.columns:
    if col == "id":
        cols.append("user_id")
    else:
        cols.append(col)
train_df_train_users.columns = cols

In [33]:
test = pd.concat([train_df_train_users, train_df_sessions], axis=1, join='inner')

In [34]:
test.head()

,user_id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,...,signup_app,first_device_type,first_browser,country_destination,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,...,Web,Mac Desktop,Chrome,NDF,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38,facebook,0,en,seo,...,Web,Mac Desktop,Chrome,NDF,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56,basic,3,en,direct,...,Web,Windows Desktop,IE,US,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42,facebook,0,en,direct,...,Web,Mac Desktop,Firefox,other,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41,basic,0,en,direct,...,Web,Mac Desktop,Chrome,US,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435